<div  th:fragment="content">
	<div class="container mt-4">
	 	<h1 class="text-center" th:text="${game.title}">Game Title</h1>
        <img th:src="${game.thumb}" class="img-fluid" alt="Game Thumbnail">
        <p><strong>Store:</strong> <span th:text="${game.store}"></span></p>
        <p><strong>Normal Price:</strong> $<span th:text="${#numbers.formatDecimal(game.normalPrice, 1, 2)}"></span></p>
        <p><strong>Sale Price:</strong> $<span th:text="${#numbers.formatDecimal(game.salePrice, 1, 2)}"></span></p>
		<a href="/deals/gamelist" class="btn btn-primary">Back to List</a>
	</div>
</div>