<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Deals</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Game Deals</a>
            <form class="d-flex mx-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search games..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
			<div th:if="${loggedInUser!=null}">
				<img th:src="${loggedInUser.profilePic}" alt ="Profile Picture" style="width: 40px; height: 40px; border-radius: 50%;">
				<span th:text="${loggedInUser.username}" class="text-light ms-2">Username</span>
				<a href="/logout">Logout</a>
			</div>
			
            <div th:if="${loggedInUser==null}">
				<a th:href="@{/deals/login}" class="text-light">Login</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
		<div th:replace="~{${contentTemplate}::content}"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
